# Byte-compiled / cache files
__pycache__/
*cache

#Virtual environment
.venv

# Build and distribution directories
build/
dist/
docs/_build/
docs/jupyter_execute/

# Python packaging
*.egg-info/

# Coverage and test outputs
.coverage
htmlcov/
*.xml
*.txt
.tox

# Editor settings
.vscode

# Test files
test.ipynb
test.py
test_local/