# Byte-compiled / cache files
__pycache__/
*cache

# Build and distribution directories
build/
dist/
docs/_build/

# Python packaging
*.egg-info/

# Coverage and test outputs
.coverage
htmlcov/
*.xml
*.txt

# Lock files
*.lock

# Editor settings
.vscode

# Test files
test.ipynb
test.py