name: Continuous Integration

on:
  pull_request:
  pull_request_review:
    types: [submitted]


jobs:
  test:
    runs-on: ${{ matrix.platform }}

    strategy:
      matrix:
        platform: [ ubuntu-latest, macos-latest, windows-latest ]
        python-version: [ '3.9', '3.10', '3.11' ]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e ".[dev]"
      - name: Run tests
        run: python -m pytest --cov QCut --cov-report=term-missing --junitxml=test_report.xml --doctest-modules  --verbose --strict-markers tests


  test_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r docs/requirements-docs.txt

      - name: Test if docs can be built
        run: cd docs && sphinx-build -b html . build/sphinx/html -W
  
  
  lint:
    runs-on: ubuntu-latest
    name: Lint the project with ruff

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install ruff linter
        run: |
          python -m pip install --upgrade pip
          python -m pip install ruff

      - name: Run ruff linter with pyproject.toml config
        run: ruff check .